* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
}

.btn-primarty {
    padding: 20px;
    color: #005FAC;
    font-weight: 600;
    border: none;
    border-radius: 5px;

}

.btn-secondary {
    padding: 20px;
    color: #FFFFFF;
    font-weight: 600;
    border: none;
    background: #005FAC;
    border-radius: 8px;
    margin-top: 10px;

}

section {
    text-align: center;
    margin-bottom: 120px;

}

/* styling header */

.header-part {
    background-image: url("images/banner/banner3.png");
    background-size: cover;
    width: 100%;
    height: 100vh;
    justify-content: center;
}

.header-container {
    padding: 120px 120px 0 600px;
    text-align: right;
}

.header-container-title {
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
    margin-bottom: 24px;

}

.header-container-description {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 30px;
    color: #FFFFFF;

}

/* my failures of previous year  style */
.my-activities {
    display: flex;
    padding: 70px;
    gap: 60px;
}

.activities-sub img {
    Width: 500px;
    Height: 600px;
}

.my-fuilur {
    margin-top: 200px;
    margin-right: 250px;
    text-align: left;
}

.my-fuilur-title {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px
}

.my-fuilur-sub {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 16px;
    color: #444343;
}

/* my plans styles */

.plans-title {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 40px;

}

.flan-info {
    display: flex;
    justify-content: center;
    gap: 90px;
    margin-bottom: 130px;

}

.flan-info-title {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 10px;
}

.plan-info-sub {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}

.plan-info-extra {
    background-image: linear-gradient(to right, #0000ff6b, #00000069), url(images/watch.png);
    height: 40vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 130px;
    text-align: left;
    padding: 50px 50px 0 100px;

}

.plan-info-extra-title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    margin-right: 500px;
    margin-bottom: 20px;
}

/* footer styles */

footer {
    background: #151414;
    width: 1345px;
    height: 390px;
}

.footer-div{
    display: flex;
    gap: 50px;
    padding: 50px;
}
.footer-title{
       padding-left: 50px;
       margin-right: 500px;

}
.para-color{
    color: white;
    margin-bottom: 10px;
}
.footer-second{
    margin-right: 600px;
}
.footer-second-title{
    margin-bottom: 10px;
    color: white;
    
}
input{
    padding: 15px;
    background-color: #151414;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px soli white;
    margin-bottom: 10px;
    color: white;
}
.footer-sub-title{
    color: white;
    margin-bottom: 10px;

}