* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
}

.btn-primarty {
    padding: 20px;
    color: #005FAC;
    font-weight: 600;

}

main {
    margin: 0 auto;
}

/* styling header */

.header-part {
    background-image: url("images/banner/banner3.png");
    background-size: cover;
    width: 100%;
    height: 100vh;
    justify-content: center;
}

.header-container {
    padding: 120px 120px 0 600px;
    text-align: right;
}

.header-container-title {
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
    margin-bottom: 24px;

}

.header-container-description {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 30px;
    color: #FFFFFF;

}

/* my failures of previous year  style */
.my-activities {
    display: flex;
    padding: 70px;
    gap: 60px;
}

div img {
    Width: 500px;
    Height: 600px;
}

.my-fuilur {
    margin-top: 200px;
    margin-right: 250px;
    text-align: left;
}

.my-fuilur-title {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
}

.my-fuilur-sub {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 16px;
    color: #444343;
}